@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Rubik:wght@500&display=swap');
.main {
    background-image: url(../Images/bodybuilder.png);
    background-size: cover;
    height: 680px;
    color : #fff;
    text-align: left;
}

.main h1 {
    font-size: 90px;
    font-family: 'Oswald';
    font-weight: 600;
    width : 60%;
}

.div1 {
    padding-top: 280px;
    padding-left: 50px;
}

.div1 p {
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 500;
}

.div1 .button1{
    width: 150px;
    background-color: #e50f0f;
    left: 0;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 600;
    margin-top: 20px;
}
.main2 {
    background-image: url(../Images/athlete.png);
    background-size: cover;
    height: 680px;
    color : #fff;
    text-align: left;
}

.main2 h1 {
    font-size: 60px;
    font-family: 'Oswald';
    font-weight: 600;
    width : 60%;
    margin-bottom: 50px;
}

.div2 {
    padding-top: 150px;
    padding-left: 50px;
}

.div2 p {
    font-size: 15px;
    font-family: 'Rubik';
    font-weight: 500;
    width: 40%;
}

.div2 .button2{
    width: 150px;
    background-color: #e50f0f;
    left: 0;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 600;
    margin-top: 50px;
}

.main3 {
    height: fit-content;
    /*display: flex;
    align-items: center;
    justify-content: center;
    */
}

.main3 h2{
    padding: 50px;
}

.grid-div {
    display: grid;
    grid-template-columns: 50% 50%;
    color : #000;
    
}

.grid-div img {
    object-fit: fill;
    width: 80%;
    height: 80%;
    border-radius: 25px;
}

.main3 h1 {
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 600;
}
.main3 h2 {
    font-size: 60px;
    font-family: 'Oswald';
    font-weight: 600;
    text-align: left;
}

