
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Courgette&family=Lobster&family=Oswald:wght@700&family=Rubik:wght@500&display=swap');

:root {
    --primary-color: #003a65;
    --secondary-color: #eb8099;
}

.dashboard {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    /*grid-template-columns: repeat(3, 1fr);*/
    height: 100%;
    width: 100%;
    color: #003a65;
}
.d2{
    grid-template-columns: 20% 80%;
}

.content {
    place-self: start start;
    height: 100%;
    width: auto;
}

.header {
    margin: 20px;
    height: 80px;
    width: 0%;
    border-top: #dbe0e1 1px solid;
    border-bottom: #b5bbbc 1px solid;
    text-align: left;
    padding: 20px;
    font-size: 30px;
    color: #003a65;
}

.sidebar{
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    color: #ccdae3;
    background: #084d82;
    max-width: 300px;
    min-height: 688px;
    font-size: large;
}

.sidebar > :hover{
    background: #003a65;
}

.user {
    height: 60px;
}

.user-icon {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: translate(80px, 35%);
}

.user > label {
    transform: translate(-80px, 50%);
}

.item{
    display: flex;
    padding: 10px;
    align-items: center;
}

.margin {
    margin-left: 15px;
    height: 25px;
    width: 25px;
}

.item label {
    cursor: pointer;
    font-size: 17px;
    margin-left: 20px;
}

.materials {
    font-size: 20px;
    display: inline-block;
    margin: 30px 0px 0px 130px;
    padding: 30px;
    background: var(--primary-color);
    border-radius: 15px;
    height: auto;
    width: auto;
    cursor: pointer;
    box-shadow: 0 0px 10px rgba(132, 133, 137, 0.7);
    color: var(--secondary-color);
    text-align: center;
    
}

.m2{
   height: 100px;

}
.materials:hover {
   /* background: var(--secondary-color);
    color: var(--primary-color);
    */
    opacity: 0.8;

}
.materials label {
    cursor: pointer;
}
.materials .number {
    padding: 20px;
    color: #fff;
    cursor: pointer;
}

.materials button {
    width :200px;
}

.materials img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.news {
    margin-top: 50px;
    margin-right: 200px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: auto;
}

.news-item:hover{
    opacity: 0.7;
}



.news-item{
    transition: 0.3s;
    padding: 10px;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 10px rgba(132, 133, 137, 0.3);
    border-radius: 25px;
}

.ns2 {
    margin-left: 300px;
}


.news-item img{
    place-self: center center;
    padding: 10px;
    cursor: pointer;
    width : 300px;
    height: auto;
    border-radius: 25px;
}


.news-item-loading label {
    background: #eee;
    background: linear-gradient(100deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 25px;
    height: 20px;
    width: 100px;
    animation: 1.5s shine linear infinite;
    background-size: 200% 120%;

}

.news-item-loading div {
    background: #eee;
    height: 400px;
    background: linear-gradient(100deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 25px;
    margin: 10px;
    animation: 1.5s shine linear infinite;
    background-size: 200% 120%;

}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}


